## Case Santander Let's Code - Consumo de pasta de dente no Brasil

In [1193]:
import requests as r
import json

# Aquisição de dados do IBGE sobre produção e consumo de dentifrícios (Pasta de Dente, Creme dental)

## Url de aquisição gerada pelo serviço dados do IBGE

### Dados de 2005-2013

In [1194]:
data = r.get('https://servicodados.ibge.gov.br/api/v3/agregados/5806/periodos/2005|2006|2007|2008|2009|2010|2011|2012|2013/variaveis/214|1982?localidades=N1[all]&classificacao=718[35882]')
data = data.json()

In [1195]:
data

[{'id': '214',
  'variavel': 'Quantidade produzida',
  'unidade': 'Quilogramas',
  'resultados': [{'classificacoes': [{'id': '718',
      'nome': 'Classes das atividades industriais e produtos - Prodlist 2013',
      'categoria': {'35882': '2063.2050 Dentifrícios (pastas de dentes; creme dental)'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'2005': '161746130',
       '2006': '179253671',
       '2007': '172162880',
       '2008': '153732885',
       '2009': '184957618',
       '2010': '151722422',
       '2011': '150416767',
       '2012': '153900283',
       '2013': '170619937'}}]}]},
 {'id': '1982',
  'variavel': 'Quantidade vendida',
  'unidade': 'Quilogramas',
  'resultados': [{'classificacoes': [{'id': '718',
      'nome': 'Classes das atividades industriais e produtos - Prodlist 2013',
      'categoria': {'35882': '2063.2050 Dentifrícios (pastas de dentes; creme dental)'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'2005': '111296860',
       '2006': '126246414',
       '2007': '130074957',
       '2008': '131992105',
       '2009': '142996330',
       '2010': '136297304',
       '2011': '127040416',
       '2012': '154101336',
       '2013': '165234657'}}]}]}]

In [1196]:
producao = data[0]['resultados'][0]['series'][0]['serie']# Dados de produção
producao

{'2005': '161746130',
 '2006': '179253671',
 '2007': '172162880',
 '2008': '153732885',
 '2009': '184957618',
 '2010': '151722422',
 '2011': '150416767',
 '2012': '153900283',
 '2013': '170619937'}

In [1197]:
producaoLista = []
for item in producao:
    producaoLista.append(float(producao[item])/1000)
producaoLista

[161746.13,
 179253.671,
 172162.88,
 153732.885,
 184957.618,
 151722.422,
 150416.767,
 153900.283,
 170619.937]

In [1198]:
vendas = data[1]['resultados'][0]['series'][0]['serie'] #Dados de vendas
vendas

{'2005': '111296860',
 '2006': '126246414',
 '2007': '130074957',
 '2008': '131992105',
 '2009': '142996330',
 '2010': '136297304',
 '2011': '127040416',
 '2012': '154101336',
 '2013': '165234657'}

In [1199]:
vendasLista = []
for item in vendas:
    vendasLista.append(float(vendas[item])/1000)

vendasLista

[111296.86,
 126246.414,
 130074.957,
 131992.105,
 142996.33,
 136297.304,
 127040.416,
 154101.336,
 165234.657]

### Dados de 2014-2018

In [1200]:
data = r.get('https://servicodados.ibge.gov.br/api/v3/agregados/6705/periodos/2014|2015|2016|2017|2018/variaveis/214|1982?localidades=N1[all]&classificacao=816[43264]')

In [1201]:
data.json()

[{'id': '214',
  'variavel': 'Quantidade produzida',
  'unidade': 'Toneladas',
  'resultados': [{'classificacoes': [{'id': '816',
      'nome': 'Classes das atividades industriais e produtos - Prodlist 2016',
      'categoria': {'43264': '2063.2050 Dentifrícios (pastas de dentes; creme dental)'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'2014': '174050',
       '2015': '183944',
       '2016': '164239',
       '2017': '162058',
       '2018': '193515'}}]}]},
 {'id': '1982',
  'variavel': 'Quantidade vendida',
  'unidade': 'Toneladas',
  'resultados': [{'classificacoes': [{'id': '816',
      'nome': 'Classes das atividades industriais e produtos - Prodlist 2016',
      'categoria': {'43264': '2063.2050 Dentifrícios (pastas de dentes; creme dental)'}}],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'2014': '170348',
       '2015': '187953',
       '2016': '154644',
       '2017': '133812',
       '2018': '182089'}}]}]}]

## Dados de produção

In [1202]:
dataJProducao = data.json()
producao = dataJProducao[0]['resultados'][0]['series'][0]['serie']# Dados de produção

producao

{'2014': '174050',
 '2015': '183944',
 '2016': '164239',
 '2017': '162058',
 '2018': '193515'}

In [1203]:

for item in producao:
    producaoLista.append(float(producao[item]))

producaoLista

[161746.13,
 179253.671,
 172162.88,
 153732.885,
 184957.618,
 151722.422,
 150416.767,
 153900.283,
 170619.937,
 174050.0,
 183944.0,
 164239.0,
 162058.0,
 193515.0]

In [1204]:
producaoListaAcumulada = sum(producaoLista)
producaoListaAcumulada

2356318.5930000003

## Dados de vendas

In [1205]:
dataJVendas = data.json()
vendas = dataJVendas[1]['resultados'][0]['series'][0]['serie'] #Dados de vendas
vendas

{'2014': '170348',
 '2015': '187953',
 '2016': '154644',
 '2017': '133812',
 '2018': '182089'}

In [1206]:
for item in vendas:
    vendasLista.append(float(vendas[item]))

vendasLista

[111296.86,
 126246.414,
 130074.957,
 131992.105,
 142996.33,
 136297.304,
 127040.416,
 154101.336,
 165234.657,
 170348.0,
 187953.0,
 154644.0,
 133812.0,
 182089.0]

In [1207]:
vendasLista_media_mensal = []
for item in vendasLista:
    vendasLista_media_mensal.append(item/12)

vendasLista_media_mensal

[9274.738333333333,
 10520.5345,
 10839.579749999999,
 10999.342083333335,
 11916.360833333332,
 11358.108666666667,
 10586.701333333333,
 12841.778,
 13769.554750000001,
 14195.666666666666,
 15662.75,
 12887.0,
 11151.0,
 15174.083333333334]

## Conversão para unidades

In [1208]:
Tonelada = 1000 #1 ton = 1000 kg
creme_dental = 10 # 1 creme dental = 100g, 1kg = 10 cremes dentais

vendas_media_caixas = []
for item in vendasLista_media_mensal:
    vendas_media_caixas.append(item*Tonelada*creme_dental)

vendas_media_caixas

[92747383.33333331,
 105205345.0,
 108395797.49999999,
 109993420.83333334,
 119163608.33333331,
 113581086.66666669,
 105867013.33333331,
 128417780.0,
 137695547.50000003,
 141956666.66666666,
 156627500.0,
 128870000.0,
 111510000.0,
 151740833.33333334]

In [1209]:
venda_media_caixas = sum(vendas_media_caixas)/len(vendas_media_caixas)

In [1210]:
venda_media_caixas

122269427.32142857

In [1211]:
vendas_media_caixas_normalizado = [] 
for item in vendas_media_caixas:
    vendas_media_caixas_normalizado.append(item/venda_media_caixas)
    
vendas_media_caixas_normalizado

[0.7585492576939443,
 0.8604386828722966,
 0.886532307173102,
 0.8995987242516202,
 0.9745985643661313,
 0.9289410211113405,
 0.8658502428004697,
 1.05028528237405,
 1.1261649826658502,
 1.1610152249546666,
 1.281002973770778,
 1.0539838357238682,
 0.9120023086953405,
 1.241036591546542]

# Dados econômicos

In [1212]:
data = r.get('https://servicodados.ibge.gov.br/api/v3/agregados/6784/periodos/1996|1997|1998|1999|2000|2001|2002|2003|2004|2005|2006|2007|2008|2009|2010|2011|2012|2013|2014|2015|2016|2017|2018/variaveis/9808|93|9812?localidades=N1[all]')
data = data.json()

In [1213]:
data

[{'id': '9808',
  'variavel': 'PIB - valores correntes',
  'unidade': 'Milhões de Reais',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '854764',
       '1997': '952089',
       '1998': '1002351',
       '1999': '1087710',
       '2000': '1199092',
       '2001': '1315755',
       '2002': '1488787',
       '2003': '1717950',
       '2004': '1957751',
       '2005': '2170585',
       '2006': '2409450',
       '2007': '2720263',
       '2008': '3109803',
       '2009': '3333039',
       '2010': '3885847',
       '2011': '4376382',
       '2012': '4814760',
       '2013': '5331619',
       '2014': '5778953',
       '2015': '5995787',
       '2016': '6269328',
       '2017': '6585479',
       '2018': '7004141'}}]}]},
 {'id': '93',
  'variavel': 'População residente',
  'unidade': 'Mil pessoas',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '163768',
       '1997': '166187',
       '1998': '168606',
       '1999': '171029',
       '2000': '173766',
       '2001': '176209',
       '2002': '178499',
       '2003': '180708',
       '2004': '182865',
       '2005': '184991',
       '2006': '187062',
       '2007': '189038',
       '2008': '191010',
       '2009': '192981',
       '2010': '194891',
       '2011': '196604',
       '2012': '198315',
       '2013': '200004',
       '2014': '201718',
       '2015': '203476',
       '2016': '205157',
       '2017': '206805',
       '2018': '208495'}}]}]},
 {'id': '9812',
  'variavel': 'PIB per capita - valores correntes',
  'unidade': 'Reais',
  'resultados': [{'classificacoes': [],
    'series': [{'localidade': {'id': '1',
       'nivel': {'id': 'N1', 'nome': 'Brasil'},
       'nome': 'Brasil'},
      'serie': {'1996': '5219.36',
       '1997': '5729.02',
       '1998': '5944.92',
       '1999': '6359.80',
       '2000': '6900.62',
       '2001': '7467.03',
       '2002': '8340.58',
       '2003': '9506.76',
       '2004': '10705.99',
       '2005': '11733.45',
       '2006': '12880.52',
       '2007': '14390.01',
       '2008': '16280.82',
       '2009': '17271.34',
       '2010': '19938.60',
       '2011': '22259.91',
       '2012': '24278.35',
       '2013': '26657.54',
       '2014': '28648.74',
       '2015': '29466.85',
       '2016': '30558.75',
       '2017': '31843.95',
       '2018': '33593.82'}}]}]}]

In [1214]:
PIB = data[0]['resultados'][0]['series'][0]['serie']

PIB

{'1996': '854764',
 '1997': '952089',
 '1998': '1002351',
 '1999': '1087710',
 '2000': '1199092',
 '2001': '1315755',
 '2002': '1488787',
 '2003': '1717950',
 '2004': '1957751',
 '2005': '2170585',
 '2006': '2409450',
 '2007': '2720263',
 '2008': '3109803',
 '2009': '3333039',
 '2010': '3885847',
 '2011': '4376382',
 '2012': '4814760',
 '2013': '5331619',
 '2014': '5778953',
 '2015': '5995787',
 '2016': '6269328',
 '2017': '6585479',
 '2018': '7004141'}

In [1215]:
PIBLista = []
for ano in range(2005,2019):
    PIBLista.append(float(PIB[str(ano)]))
    
PIBLista

[2170585.0,
 2409450.0,
 2720263.0,
 3109803.0,
 3333039.0,
 3885847.0,
 4376382.0,
 4814760.0,
 5331619.0,
 5778953.0,
 5995787.0,
 6269328.0,
 6585479.0,
 7004141.0]

In [1216]:
Populacao = data[1]['resultados'][0]['series'][0]['serie']

Populacao

{'1996': '163768',
 '1997': '166187',
 '1998': '168606',
 '1999': '171029',
 '2000': '173766',
 '2001': '176209',
 '2002': '178499',
 '2003': '180708',
 '2004': '182865',
 '2005': '184991',
 '2006': '187062',
 '2007': '189038',
 '2008': '191010',
 '2009': '192981',
 '2010': '194891',
 '2011': '196604',
 '2012': '198315',
 '2013': '200004',
 '2014': '201718',
 '2015': '203476',
 '2016': '205157',
 '2017': '206805',
 '2018': '208495'}

In [1217]:
PopulacaoLista = []
for ano in range(2005,2019):
    PopulacaoLista.append(float(Populacao[str(ano)]))
    
PopulacaoLista

[184991.0,
 187062.0,
 189038.0,
 191010.0,
 192981.0,
 194891.0,
 196604.0,
 198315.0,
 200004.0,
 201718.0,
 203476.0,
 205157.0,
 206805.0,
 208495.0]

In [1218]:
PIBPerCapita = data[2]['resultados'][0]['series'][0]['serie']

PIBPerCapita

{'1996': '5219.36',
 '1997': '5729.02',
 '1998': '5944.92',
 '1999': '6359.80',
 '2000': '6900.62',
 '2001': '7467.03',
 '2002': '8340.58',
 '2003': '9506.76',
 '2004': '10705.99',
 '2005': '11733.45',
 '2006': '12880.52',
 '2007': '14390.01',
 '2008': '16280.82',
 '2009': '17271.34',
 '2010': '19938.60',
 '2011': '22259.91',
 '2012': '24278.35',
 '2013': '26657.54',
 '2014': '28648.74',
 '2015': '29466.85',
 '2016': '30558.75',
 '2017': '31843.95',
 '2018': '33593.82'}

In [1219]:
PIBPerCapitaLista = []
for ano in range(2005,2019):
    PIBPerCapitaLista.append(float(PIBPerCapita[str(ano)]))
    
PIBPerCapitaLista

[11733.45,
 12880.52,
 14390.01,
 16280.82,
 17271.34,
 19938.6,
 22259.91,
 24278.35,
 26657.54,
 28648.74,
 29466.85,
 30558.75,
 31843.95,
 33593.82]

# Criando Dataframe

In [1220]:
import pandas as pd

In [1221]:
df = pd.DataFrame(
    {
        'Ano': range(2005,2019),
        'PIB' : PIBLista,
        'Populacao' : PopulacaoLista,
        'PIBPerCapita': PIBPerCapitaLista,
        'Producao': producaoLista,
        'Vendas_mensal_media' : vendas_media_caixas
    }
)

In [1222]:
df

     Ano        PIB  Populacao  PIBPerCapita    Producao  Vendas_mensal_media
0   2005  2170585.0   184991.0      11733.45  161746.130         9.274738e+07
1   2006  2409450.0   187062.0      12880.52  179253.671         1.052053e+08
2   2007  2720263.0   189038.0      14390.01  172162.880         1.083958e+08
3   2008  3109803.0   191010.0      16280.82  153732.885         1.099934e+08
4   2009  3333039.0   192981.0      17271.34  184957.618         1.191636e+08
5   2010  3885847.0   194891.0      19938.60  151722.422         1.135811e+08
6   2011  4376382.0   196604.0      22259.91  150416.767         1.058670e+08
7   2012  4814760.0   198315.0      24278.35  153900.283         1.284178e+08
8   2013  5331619.0   200004.0      26657.54  170619.937         1.376955e+08
9   2014  5778953.0   201718.0      28648.74  174050.000         1.419567e+08
10  2015  5995787.0   203476.0      29466.85  183944.000         1.566275e+08
11  2016  6269328.0   205157.0      30558.75  164239.000         1.288700e+08
12  2017  6585479.0   206805.0      31843.95  162058.000         1.115100e+08
13  2018  7004141.0   208495.0      33593.82  193515.000         1.517408e+08

# Treinando o Modelo

In [1223]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score,explained_variance_score

In [1224]:
x = df.drop(columns=['Vendas_mensal_media' , 'Ano'])
y = df['Vendas_mensal_media']

In [1225]:
x

          PIB  Populacao  PIBPerCapita    Producao
0   2170585.0   184991.0      11733.45  161746.130
1   2409450.0   187062.0      12880.52  179253.671
2   2720263.0   189038.0      14390.01  172162.880
3   3109803.0   191010.0      16280.82  153732.885
4   3333039.0   192981.0      17271.34  184957.618
5   3885847.0   194891.0      19938.60  151722.422
6   4376382.0   196604.0      22259.91  150416.767
7   4814760.0   198315.0      24278.35  153900.283
8   5331619.0   200004.0      26657.54  170619.937
9   5778953.0   201718.0      28648.74  174050.000
10  5995787.0   203476.0      29466.85  183944.000
11  6269328.0   205157.0      30558.75  164239.000
12  6585479.0   206805.0      31843.95  162058.000
13  7004141.0   208495.0      33593.82  193515.000

In [1226]:
y

0     9.274738e+07
1     1.052053e+08
2     1.083958e+08
3     1.099934e+08
4     1.191636e+08
5     1.135811e+08
6     1.058670e+08
7     1.284178e+08
8     1.376955e+08
9     1.419567e+08
10    1.566275e+08
11    1.288700e+08
12    1.115100e+08
13    1.517408e+08
Name: Vendas_mensal_media, dtype: float64

In [1227]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=9)

In [1228]:
print(len(x_train),len(x_test))

10 4

In [1229]:
lr = LinearRegression()

In [1230]:
lr.fit(x_train,y_train)

LinearRegression()

In [1231]:
y_pred = lr.predict(x_test)

In [1232]:
print(mean_absolute_error(y_test,y_pred))

10985538.681053821

In [1233]:
print(mean_squared_error(y_test, y_pred))

177925021613394.5

In [1234]:
print(r2_score(y_test,y_pred))

0.5231172023386934

In [1235]:
print(explained_variance_score(y_test,y_pred))

0.8465747910033973

In [1236]:
lasso = linear_model.Lasso(alpha=1,max_iter=1000)

In [1237]:
lasso.fit(x_train,y_train)

C:\Users\Ricardo\AppData\Roaming\Python\Python37\site-packages\sklearn\linear_model\_coordinate_descent.py:531: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 186556930270916.62, tolerance: 213772415120.1184
  positive)

Lasso(alpha=1)

In [1238]:
y_pred = lasso.predict(x_test)

In [1239]:
print(mean_absolute_error(y_test,y_pred))

9811772.393472217

In [1240]:
print(mean_squared_error(y_test, y_pred))

134083069398251.17

In [1241]:
print(r2_score(y_test,y_pred))

0.6406244120481843

In [1242]:
print(explained_variance_score(y_test,y_pred))

0.8986540302538026